/* fontes */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    padding-top: 80px; /* Altura do header */
}

/* header começa */
header{
    background: #0b2661;
    color: #fff;
    padding: 15px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);; /* Sombra para efeito de profundidade */
    z-index: 1000; /* Garantir que o header fique acima de outros elementos */
}

.center__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.logo img{
    height: 50px; /* Ajuste o tamanho da imagem do logo conforme necessário */
    width: auto; /* Mantém a proporção da imagem */
}

.logo img:hover {
    transform: scale(1.1); /* Efeito de zoom no hover */
}

.menu {
    display: flex;
    gap: 20px; /* Espaçamento entre os itens do menu */
}

.menu__link {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    position: relative;
    transition: color 0.3s, padding 0.3s, background 0.3s;
}

.menu__link::after {
    content: '';
    display: block;
    height: 2px;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    transition: width 0.3s;
}

.menu__link:hover::after {
    width: 100%; /* Linha animada abaixo do link */
}

.menu__link:hover {
    color: #e0e0e0; /* Cor de destaque ao passar o mouse */
}
/* header termina */

/* home section começa*/
.home{
    width: 100%;
    height: 90vh;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(/images/lencois-maranhenses.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; /* Centraliza o texto dentro da div */
    color: #ffffff; /* Cor do texto */
    position: relative; /* Para posicionamento relativo dos filhos */
}

.home .center__home{
    text-align: center;
    padding-top: 200px;
    background: rgba(0, 0, 0, 0.5);
    padding: 40px 20px;
    border-radius: 10px;
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Sombra para profundidade */
}

.home .center__home h5{
    color: #ffffff;
    font-weight: 500;
    font-size: 1.3rem;
    margin-bottom: 10px;
}

.home .center__home h1{
    color: #fefefe;
    font-size: 3rem;
    font-weight: 600;
    margin: 10px 0;
}

.home .center__home p{
    color: #eeeeee;
    font-size: 1.5rem;
    margin: 10px 0 20px;
}

.home .center__home a{
    padding: 10px 20px;
    background: white;
    color: #333;
    letter-spacing: 2px;
    font-weight: 700;
    border-radius: 5px;
    transition: background 0.5s, color 0.5s;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
}

.home .center__home a:hover{
    background: #333;
    color: #ffffff;
}
/*home section termina */


/* legenda do mapa começa */
.conteudo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 70px;
    margin: 2%;
}

.conteudo__titulo span {
    color: #0b2661;
    font-weight: bold;
}

.conteudo__h1 {
    font-size: 2rem;
    text-align: center;
    color: #333;
    margin: 50px;
}

.conteudo__paragrafo {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 30px;
}

.configuracao__mapa {
    flex: 1;
    padding: 20px;
}

#map {
    height: 400px;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilos dos campos de entrada e botão */
input[type="text"] {
    padding: 10px;
    font-size: 1rem;
    margin-right: 10px;
    border: 2px solid #0b2661;
    border-radius: 4px;
    outline: none;
}

input[type="text"]:focus {
    border-color: #0b2661;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    background: #0b2661;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #003d66;
}

.center{
    display: flex;
    flex-wrap: wrap;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0% 2%;
    flex: 1;
    gap: 20px;
}


/* Estilização do footer */
footer {
    background-color: #003366;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-conteudo{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Ajuste de responsividade*/
@media (max-width: 768px) {
    .home{
        background-position: center;
    }
    .apresentacao {
        flex-direction: column;
        padding-top: 80px;
    }
    
    #map {
        height: 300px;
    }
    .footer-nav {
        display: flex;
        flex-direction: column;
    }
    
    .footer-nav a {
        margin: 5px 0;
    }
}

@media (max-width: 450px) {
    .home .center__home h5{
        font-size: 25px;
    }
    .home .center__home h1{
        font-size: 38px;
    }
    .home .center__home p{
        font-size: 13px;
    }
    .center__header {
        flex-direction: column;
        align-items: center;
    }

    .menu {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}